{% extends 'base.html' %}

{% block title %}
<title>Fornecedores</title>
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>CEP</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.cep }}</td>
                <td>{{ supplier.phone }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}