<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<style>
    table{
        border-collapse: collapse;
    }

    table, td, th {
        border: 2px solid black;
        padding: 10px;
    }
</style>
<body>
    <button><a href="{% url 'product_create' %}">Criar produto</a></button>
    <button><a href="{% url 'index' %}">Listar produtos</a></button>
    
    <button><a href="{% url 'supplier_create' %}">Criar Fornecedor</a></button>
    <button><a href="{% url 'supplier_index' %}">Listar Fornecedores</a></button>
    
    <button><a href="{% url 'category_create' %}">Criar Categoria</a></button>
    <button><a href="{% url 'category_index' %}">Listar Categorias</a></button>
    {% block content %}

    {% endblock %}
</body>
</html>