<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        border-collapse: collapse;
    }

    table, td, th {
        border: 2px solid black;
        padding: 10px;
    }
</style>
<body>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
        </tbody>
    </table>
    
</body>
</html>