{% extends 'base.html' %}

{% block title %}
<title>Produtos</title>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Code</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    {% for category in product.categories.all %}
                        <span>{{ category }}</span>
                    {% endfor %}
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{% url 'product_detail' product.id %}">Detalhe</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}