<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        border-collapse: collapse;
    }

    table, td, th {
        border: 2px solid black;
        padding: 10px;
    }
</style>
<body>
    <button><a href="{% url 'create_product' %}">Criar produto</a></button>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Code</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>
                        {% for category in product.categories.all %}
                            <span>{{ category }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{% url 'product_detail' product.id %}">Detail</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>